{% extends 'superAdmin.html.twig' %}

{% block title %} Editor Album {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://ik.imagekit.io/luno/css/dataTables.bootstrap.min_AVFY_uLAX.css">
{% endblock %}

{% block body %}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <strong class="card-title col-sm-10">Gerer L'album</strong>
                        <h3 class="col-sm-2">
                            <a href="{{ path('admin.administrateur.site.album.new') }}" class="btn btn-primary">Ajouter une image</a>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Images</th>
                            <th>Date de Creation</th>
                            <th>Date de Modification</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for album in albums %}
                        <tr>
                            <td>{{ album.ImageName }}</td>
                            <td>{{ album.CreatedAt | date('Y-m-d H:i:s') }}</td>
                            <td>{{ album.CreatedAt | date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('admin.administrateur.site.album.edit', {id: album.id}) }}" class="btn btn-secondary"><i class="fa fa-edit"></i></a>
                                <form  method="post" action="{{ path('admin.administrateur.site.album.delete', {id: album.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous vraiment sur?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ik.imagekit.io/luno/js/datatables.min_3HbyDdfvE.js"></script>
    <script src="https://ik.imagekit.io/luno/js/dataTables.bootstrap.min__DYUooe5s.js"></script>
    <script src="https://ik.imagekit.io/luno/js/datatables-init_YvS2CefCX.js"></script>
{% endblock %}
