<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SMARTBERGERIE</title>
    <link rel="shortcut icon" href="{{ 'https://ik.imagekit.io/luno/logo_K1RS-PoGw.png' }}" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://ik.imagekit.io/luno/css/sb-admin_Cr3d4o0wD.css" rel="stylesheet">

    {% block stylesheet %}{% endblock %}

</head>
<body>
<div class="" style="background-image: url('https://ik.imagekit.io/luno/fond_Z76Ya1jaR.jpg');">

    <div>
        <img  srcset="https://ik.imagekit.io/luno/bg-7_6u6XmcuHk.png" sizes="100vw" style="width: 100%;" alt="">
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(129, 129, 129, 0.068);">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ 'https://ik.imagekit.io/luno/logo_K1RS-PoGw.png' }}" class="rounded-circle" alt="" width="162" height="52">
            </a>
            <button class="navbar-toggler bg-success" type="button" 
                    data-toggle="collapse" data-target="#navbarResponsive" 
                    aria-controls="navbarResponsive" aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse center navbar-collapse text-center bg-success" id="navbarResponsive" 
                 style="border-radius: 50px 50px 50px 50px;">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link btn {% if warning is defined and warning=='warningHome' %} btn-warning {% else %}
                            btn-default {% endif %} shadow" style="border-radius: 50px 0px 0px 50px;" href="{{ path('home') }}">
                            Accueil
                        </a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link btn {% if warning is defined and warning=='warningEvens' %} btn-warning {% else %}
                            btn-default {% endif %} shadow" href="{{ path('event') }}">E-Evens</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link btn {% if warning is defined and warning=='warningEdaral' %} btn-warning {% else %}
                            btn-default {% endif %} shadow" href="{{ path('edaral') }}">E-Daral</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link btn {% if warning is defined and warning=='warningEboucher' %} btn-warning {% else %}
                            btn-default {% endif %} shadow" href="{{ path('eboucher') }}">E-Boucher</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link btn {% if warning is defined and warning=='warningGallerie' %} btn-warning {% else %}
                            btn-default {% endif %} shadow" href="#">Galerie</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link btn btn-default shadow" href="{{ path('user.connexion') }}">Se connecter</a>
                    </li>
                    <li class="active nav-item">
                        <div class="container h-25">
                            <div class="d-flex justify-content-center h-25">
                                <div class="searchbar">
                                    <input class="search_input" type="text" name="" placeholder="Recherche">
                                    <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- Contact -->
    <div class="container-fluid h-auto text-center">
        <div class=" text-white bg-success">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <h4 class="text-center">SMART BERGERIE</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5><span class="fa fa-home"></span>Adresse : </h5>
                            <div>
                                <p>Mermoz Pyrotechnie Villa N°23, Non loin du siége de la Sonatel</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5><span class="fa fa-phone-square"></span>Téléphone</h5>
                            <div>
                                <p>33 822 32 23 <br> 78 526 67 33 <br> 76 529 79 00</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5><span class="fa fa-envelope"></span>E-mail : </h5>
                            <div>
                                <p>event@smartbergerie.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h4>SUIVEZ-NOUS</h4>
                    <div>
                        <a href=""><i class="fa fa-facebook-square fa-3x text-white"></i></a>
                        <a href=""><i class="fa fa-twitter-square fa-3x text-white"></i></a>
                        <a href=""><i class="fa fa-instagram fa-3x text-white"></i></a>
                        <a href=""><i class="fa fa-whatsapp fa-3x text-white"></i></a>
                        <!-- <a href=""><i class="fa fa-facebook text-dark"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4 class="text-center" style="font-style: ;">NEWSLETTER</h4>
                    <div>
                        <form action="{{ path('user.newsletter') }}" method="post">
                            <div class="form-group">
                                <input name="Email" type="email" class="form-control" placeholder="Adresse de courriel">
                            </div>
                            <div class="form-group col-sm-8">
                                <input class="form-control text-white btn border " style="background-color: rgba(0, 255, 0, 1);"
                                       type="submit" value="Souscrire">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
        </div>
    </div>
    <!-- /.contact -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-4 footer bg-dark container-fluid">
    <div class="container">
        <p class="m-0 text-center text-success">Copyright &copy; 2019 SMARTBERGERIE</p>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block script %}{% endblock %}
</body>

</html>

